# Pylint configuration file
# example: http://docutils.sourceforge.net/sandbox/py-rest-doc/utils/pylintrc

[MASTER]

# --load-plugins=pylint.extensions.mccabe
# --load-plugins=pylint.extensions.redefined_variable_type
# --load-plugins=pylint.extensions.broad_try_clause
# --load-plugins=pylint_django
# --load-plugins=pylint_django.checkers.db_performance
load-plugins=pylint.extensions.mccabe,pylint.extensions.redefined_variable_type,pylint.extensions.broad_try_clause,pylint_django,pylint_django.checkers.migrations

[MESSAGES CONTROL]

# --disable=django-not-configured
disable=django-not-configured

# --docstring-min-length 5
#???
docstring-min-length=5

[SIMILARITIES]

ignore-imports=yes

min-similarity-lines=5

[BASIC]

# --no-docstring-rgx "^(test)?_|.*Tests$"
no-docstring-rgx=^(test)?_|.*Tests$

# --unsafe-load-any-extension y
#???
unsafe-load-any-extension=yes

[REPORTS]

# --output-format colorized
output-format=colorized

# --reports y
# reports=yes
