[mypy]
cache_dir = ~/.cache/mypy

[mypy-colorlog]
ignore_missing_imports = True

# py-cpuinfo
[mypy-cpuinfo]
ignore_missing_imports = True

[mypy-docutils.*]
follow_imports = error

# GitPython
[mypy-git]
ignore_missing_imports = True

[mypy-pint]
ignore_missing_imports = True

[mypy-psutil]
ignore_missing_imports = True

[mypy-pycuda.*]
ignore_missing_imports = True

[mypy-pyudev]
ignore_missing_imports = True

[mypy-semver]
ignore_missing_imports = True

[mypy-setuptools]
ignore_missing_imports = True

# py-trello
[mypy-trello]
ignore_missing_imports = True

[mypy-tzlocal]
ignore_missing_imports = True
