on:
  push:
  pull_request:
    branches:
      - $default-branch

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10']

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - run: pip install -r requirements_ci.txt
      - run: git clone https://github.com/mbdevpl/argunparse ../argunparse
      - run: git clone https://github.com/mbdevpl/transpyle ../transpyle
      - run: git clone https://github.com/mbdevpl/typed-astunparse ../typed-astunparse
      - run: python -m coverage run --branch --source . -m unittest -v
      - run: python -m coverage report --show-missing
      - run: codecov
